@use './components';

.supplier-order-update-view {
  .order-items {
    .order-item {
      .miq-loader {
        .sk-cube-grid {
          margin: 0;
          width: 23px;
          height: 23px;
        }
      }
      .submit-btn {
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
