@use './components';

.supplier-order-update-view {
  .order-items {
    .order-item {
      .order-item-form {
        padding: 0.5rem;
        border-top: 1px solid var(--border-color);
      }

      .product-price-display {
        .fw-bold {
          font-weight: 500;
        }
      }

      .quick-update-btn,
      .update-btn {
        border-color: transparent;
      }
    }
  }
}
