.product-supplier-data {
  li {
    margin-bottom: var(--sp-0, 8px);

    span {
      &:first-child {
        font-weight: 700;
        &::after {
          content: ":";
          margin-right: 8px;
        }
      }
    }
  }
}
