@use './components';

.product-cover {
  min-width: var(--img-thumb-size-lg, 64px);
  min-height: var(--img-thumb-size-lg, 64px);
  img {
    border-radius: var(--border-radius);
  }
}

.product-list {
  .product-item {
    margin-bottom: var(--sp-1, 8px);

    &-nav {
      display: flex;
      .btn {
        margin-right: var(--sp-1, 6px);
      }
    }

    .product-cover-upload-button {
      padding: 0;
      border: 0;
    }

    .product-item-images {
      max-height: 450px;
      overflow-y: auto;

      .img-item {
        display: flex;

        img {
          max-width: 160px;
        }
      }
    }
  }
}

.product-update-view {
  .view-header {
    .miq-img-upload-btn {
      padding: 0;
      border: 0;

      .miq-img-square {
      }
    }
  }
}
