{% extends 'base-react.html' %}
{% load static %}

{% block head %}{% spaceless %}

<title>
    {% block title %} {% firstof title "This is marqetintl" %} {% endblock title %} | {{ site.name|default:"marqetintl" | capfirst }}
</title>

{% block meta %}{% endblock meta %}

<link rel="canonical" href="{{ request.build_absolute_uri }}" />


{% comment %} <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}"> {% endcomment %}
{% comment %} <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}"> {% endcomment %}
{% comment %} <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}"> {% endcomment %}
{% comment %} <link rel="icon" href="{% static 'favicon.ico' %}"> {% endcomment %}


{% block head_scripts %} {% endblock head_scripts %}

{% if sharedData %}
{{ sharedData|json_script:"sharedData" }}
{% endif %}

{% endspaceless %}{% endblock head %}
