{% extends 'base-react.html' %}

<!-- prettier-ignore -->
{% block head %}
{% spaceless %}

<!-- prettier-ignore -->
<title>
    {% block title %} {% firstof title "This is marqetintl" %} {% endblock title %} | {{ site.name|default:"marqetintl" | capfirst }}
</title>

{% block meta %}{% endblock meta %}

<link rel="canonical" href="{{ request.build_absolute_uri }}" />

{% block head_scripts %} {% endblock head_scripts %}

<!-- prettier-ignore -->
{{ sharedData|json_script:"sharedData" }}

<!-- prettier-ignore -->
{% endspaceless %} 
{% endblock head %}
