<meta name="description" content="{{description|truncatewords:200}}">
<meta name="author" content="{% firstof author "marqetintl" %}">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<meta property="og:title" content="{% firstof title "This is marqetintl" %}">
<meta property="og:description" content="{{description|truncatewords:200}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">


<meta name="twitter:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:description" content="{{description|truncatewords:50}}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% firstof title "This is marqetintl" %}">
<meta property="og:locale" content="en_US">