{% extends 'shop/base.html' %}


<div>[number, social accounts]</div>
<div>[logo]/[nav]/[cart]</div>
{% block navbar %}{% endblock navbar %}

<div>[slider]</div>
<div>[Promotion/item of the day/style of the day/Offre de la semaine]</div>
<div>[new arrivals/nouveautés]</div>
<div>[best sellers/meilleur ventes]</div>
<div>[categories]</div>
<div>[blog]</div>
<div></div> 

{% block main %}

<section class="">
    <h3>Nouveautés</h3>
</section>

<section class="">
    <h3>TRENDING BRANDS</h3>
</section>


<section class="">
    <h3>Achetez par catégorie</h3>
</section>

<section class="">
    <h3>En vogue</h3>
</section>

<section class="">
    <h3>Achetez par occasion</h3>
</section>

<section class="">
    <h3>Achetez par catégorie</h3>
</section>

<section class="">
    <h2>#feminity</h2>
</section>
    
{% endblock main %}




[newsletter]
<div class="">[footer]</div>
<div class="">[message whatsapp]</div>
{% block footer %}{% endblock footer %}
    
    