{% extends 'shop/base.html' %}


<div>[number, social accounts]</div>
<div>[logo]/[nav]/[cart]</div>
{% block navbar %}{% endblock navbar %}

<div>[slider]</div>
<div>[Promotion/item of the day/style of the day/Offre de la semaine]</div>
<div>[new arrivals/nouveautés]</div>
<div>[best sellers/meilleur ventes]</div>
<div>[categories]</div>
<div>[blog]</div>
<div></div> 

{% block main %}

{% for section in sections %}
    {{section.html|safe}}
{% endfor %}
    
{% endblock main %}




[newsletter]
<div class="">[footer]</div>
<div class="">[message whatsapp]</div>
{% block footer %}{% endblock footer %}
    
    