{% extends 'shop/base.html' %}

{% block title %}{% if product.title %}{{product.title}} - {% endif %}{{product.category.name}}{% endblock title %}
<style>


{% block css %}
{{block.super}}

{% endblock css %}
</style>
  

{% block main %}

<div class="product-detail-view">
  <div class="product-header">header</div>
  <div class="product-info">info</div>
  <div class="product-media"><div id="product-detail-images"></div></div>
  <div class="product-info-meta">infometa</div>

</div>


{% endblock main %}
<div class="d-flex flex-column-reverse flex-md-row-reverse">
  
  {# PRODUCT INFO - comes first for crawlers #}
  <div class="info">
    
  <h1 class="text-md fw-bold">{{ product.name | upper }}</h1>

  {% if product.description %}
    <div class="description my-4">
        {{product.description}}
    </div>
  {% endif %}
  </div>

  {# PRODUCT IMAGES #}
  
  
  
</div>    
