
{% extends 'shop/base.html' %}

<style>
{% block css %}{{ block.super }}
{% endblock css %}
</style>


{% block title %}
{% firstof title 'Shop' %}
{% endblock title %}

{% block main %}


{% endblock main %}

<div class="d-grid grid-2 grid-md-3 grid-lg-4 gap-1">
    {% for product in products %}
    <a href="{{product.detail_path}}" title="{{product.name}}"> 
        <div class="">{{product.cover.render}}</div>
        <div class="">
            <h6>{{product.name}}</h6>
            <span class="">{{ product.retail_price }}</span>
        </div>

    </a>
    {% empty %}
    {# {% include 'components/empty.html' %} #}
    {% endfor %}
</div>





